/* Status Indicator Styles */
.status-indicator {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  
  .status-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  
  /* Incubator Status Colors */
  .status-icon.active {
    background-color: green;
  }
  
  .status-icon.paused {
    background-color: yellow;
  }
  
  .status-icon.completed {
    background-color: red;
  }
  
  /* Temperature and Humidity Styles */
  .digi-face {
    font-family: 'DigiFace', sans-serif;
    font-size: 24px;
  }
  
  /* Refill Water and Motion Detection Colors */
  .status-text.green {
    color: green;
  }
  
  .status-text.red {
    color: red;
  }
  