{% extends 'layout.html' %}
<!-- Custom styles for this template -->
{% block styles %}
<link href="{{ url_for('static', filename='css/controlPanel.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="col-sm-auto">
        <h1 class="h2">IoT Incubator</h1>
        <form method="POST" action="/">
            <div class="form-group">
                <label for="min_temp">Min Temperature:</label>
                <input type="number" step="1" class="form-control" name="min_temp" value="{{ min_temp }}">
            </div>

            <div class="form-group">
                <label for="max_temp">Max Temperature:</label>
                <input type="number" step="1" class="form-control" name="max_temp" value="{{ max_temp }}">
            </div>

            <div class="form-group">
                <label for="min_humidity">Min Humidity:</label>
                <input type="number" class="form-control" name="min_humidity" value="{{ min_humidity }}">
            </div>

            <div class="form-group">
                <label for="max_humidity">Max Humidity:</label>
                <input type="number" class="form-control" name="max_humidity" value="{{ max_humidity }}">
            </div>

            <div class="form-group">
                <label for="egg_turn_interval">Egg Turn Interval (in minutes):</label>
                <input type="number" class="form-control" name="egg_turn_interval" value="{{ egg_turn_interval }}">
            </div>

            <div class="form-group">
                <label for="turning_days">Number of Egg Turning Days:</label>
                <input type="number" class="form-control" name="turning_days" value="{{ turning_days }}">
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</main>
{% endblock %}