{% extends 'layout.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <canvas id="chart" width="400" height="200"></canvas>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Temperature',
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    data: []
                },
                {
                    label: 'Humidity',
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    data: []
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'second',
                            tooltipFormat: 'HH:mm:ss'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        suggestedMax: 100
                    }
                }
            }
        });

        // Function to update the chart data
        function updateChartData() {
            fetch('http://localhost:5001/sensor/data')
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        console.error(data.error);
                        return;
                    }

                    chart.data.labels.push(data.timestamp);
                    chart.data.datasets[0].data.push({ x: data.timestamp, y: data.temperature });
                    chart.data.datasets[1].data.push({ x: data.timestamp, y: data.humidity });
                    chart.update();
                })
                .catch(error => console.error(error));
        }

        // Update the chart every 1 second
        setInterval(updateChartData, 1000);
    });
</script>
{% endblock %}